body {
    background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    background-size: cover;
    font-family: 'Hepta Slab', serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

/*id is # - working with one element*/

#clockbox {
    margin: auto;
    width: 550px;
    height: 80px;
    padding: 10px;
    border: 25px solid #DC143C;
    background-color: beige;
}